<div class="loginBody vh-100">
    <form class="needs-validation" [formGroup]="formGroup" (ngSubmit)="login()">
        <div class="container bg-body-tertiary align-midle rounded position-absolute top-50 start-50 translate-middle w-50">

            <legend class="mt-3 mb-3">Login</legend>
            
            <div class="mb-3">
                <label for="validationCustom01" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="validationCustom01" required formControlName="email"
                [ngClass]="{'is-invalid': submitted || formGroup.controls['password'].touched && formGroup.controls['password'].invalid}">
            </div>
            <div class="mb-3">
                <label for="validationCustom02" class="form-label">Senha</label>
                <input #x type="password" class="form-control" id="validationCustom02" required formControlName="password"
                [ngClass]="{'is-invalid': submitted || formGroup.controls['password'].touched && formGroup.controls['password'].invalid}">
                <div class="invalid-feedback">
                    E-mail ou Senha incorretos
                </div>
            </div>
            <div class="container text-center mt-4">
                <div class="row">
                <button type="submit" class="btn btn-primary col mb-3">Submit</button>
                <p class="align-text-right">Não possui conta? <a href="/register" class="link-opacity-75-hover col">Registrar</a></p>
            </div>
            </div>
        </div>
    </form>
</div>
