<div class="registerBody vh-100">
    <button class="back btn btn-primary mt-4 ms-4" style="transform: translateY(79px);" routerLink="/userManagement">Voltar</button>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <div class="container bg-body-tertiary align-midle rounded position-absolute top-50 start-50 translate-middle w-50">

            <legend class="mt-3 mb-3">Informações do Usuário</legend>

            <div class="mb-3">
                <label for="validationCustom01" class="form-label">Nome</label>
                <input type="text" class="form-control" id="validationCustom01" formControlName="name" placeholder="nome" ng-readonly="true" [readOnly]="userPermition()"
                [ngClass]="{
                'is-invalid': (submitted || formGroup.controls['name'].touched) && formGroup.controls['name'].invalid, 
                'is-valid': formGroup.controls['name'].valid,
                'readonly': true
                }">
                <div class="invalid-feedback">
                    Campo nome é obrigatório
                </div>
            </div>

            <div class="mb-3">
                <label for="validationCustom02" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="validationCustom02" formControlName="email" placeholder="exemplo@xmpl.com" [readOnly]="userPermition()"
                [ngClass]="{
                    'is-invalid': (submitted || formGroup.controls['email'].touched) && (formGroup.controls['email'].invalid || emailCheck()),
                    'is-valid': formGroup.controls['email'].valid && !emailCheck()}">
                <div class="invalid-feedback">
                    Email inválido ou já cadastrado
                </div>
            </div>

            <div class="mb-3">
                <label for="validationCustom03" class="form-label">CPF</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="000.000.000-00" required formControlName="cpf" [mask]="'000.000.000-00'" [readOnly]="userPermition()"
                [ngClass]="{
                    'is-invalid': (submitted || formGroup.controls['cpf'].touched) && (formGroup.controls['cpf'].invalid || cpfCheck()),
                    'is-valid': formGroup.controls['cpf'].valid && !cpfCheck()}">
                <div class="invalid-feedback">
                    Cpf inválido ou já cadastrado
                </div>
            </div>

            <div class="mb-3">
                <label for="validationCustom04" class="form-label">Acesso</label>
                <select class="form-select" id="validationCustom04" required formControlName="access" [disabled]="userPermition()"
                [ngClass]="{
                    'is-invalid': (submitted || formGroup.controls['access'].touched) && (formGroup.controls['access'].invalid),
                    'is-valid': formGroup.controls['access'].valid }">
                    <option value="0" [disabled]="userPermition()">Usuário</option>
                    <option value="1" [disabled]="userPermition()">Moderador</option>
                    <option value="2" [disabled]="userPermition()">Administrador</option>
                </select>
            </div>
            
            <div class="container text-center mt-4 mb-3">
                <div class="row gap-3">
                <button type="submit" class="btn btn-primary col" [disabled]="userPermition()">Salvar</button>
                <button type="button" class="delete" class="btn btn-primary col" [disabled]="userPermition()" (click)="delete()">Deletar</button>
            </div>
            </div>
        </div>
    </form>
</div>