<div class="bg-body-tertiary fixed-bottom" style="z-index: -1;">
<footer class=" bg-body-tertiary">
    <!-- Grid container -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="mt-2">
          <h1 class="text-uppercase fs-3 lh-1">Web Project</h1>
          <p class="fs-6 lh-1">Desde 2023, 28/12</p>
        </div>
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">Lucas D. P. Matos LTDA</a>
    </div>
    <!-- Copyright -->
</footer>
</div>